POSTGRES_DB=verse_store
POSTGRES_USER=verse
POSTGRES_PASSWORD=change-me
APP_PORT=8080
KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=change-me
KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=change-me
KEYCLOAK_CLIENT_SECRET=change-me-use-a-long-random-secret
